.watermelon {
    display:flex;
    position:relative;
    align-items: center;
    margin: 0% auto;
    margin-top: 10%;
    width: 40%;
    padding: 5%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
