<div class="d-flex align-items-center py-4 bg-body-tertiary watermelon">
    <main class="form-signin w-100 m-auto">
      <form>
          
        <h1 class="h2 mb-3 fw-normal text-center sign-up-edit" >Sign Up</h1>
    
        <div class="form-floating">
          <input type="nickname" class="form-control" id="floatingInput" placeholder="yourname">
          <label for="floatingInput">Nickname</label>
        </div>
        <div class="form-floating">
          <input type="username" class="form-control" id="floatingInput" placeholder="friedavocadoes">
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
    
        <div class="form-floating center text-center">
          <a href="/login">Have an Account?</a>
        </div>
        <button class="btn btn-primary py-2 sign-button" type="submit">Let's Go</button>
        
        
      </form>
    </main>
    </div>  