<div class="container mt-5" >
    <div class="row align-items-center" style="margin-top: 7%;">
      <div class="col-md-6 text-center">
        <h1>wink.et - Connect with your loved ones instantly</h1>
        <p>wink.et is a real-time chat application designed to bridge the gap between you and your closest friends and family. Stay connected effortlessly, share messages, and create lasting memories. Our intuitive interface and lightning-fast messaging system ensure a seamless communication experience.</p>
        <p>Whether you're catching up with old friends, keeping in touch with family across the globe, or collaborating on projects, wink.et provides a reliable and convenient platform for all your communication needs. Join our growing community and experience the joy of real-time connection.</p>
        <button class="btn btn-primary" (click)="gotosignup()">Sign Up Now</button>
      </div>
      <div class="col-md-6">
        <a href="https://picsum.photos/id/2379/640/480?grayscale" target="_blank" rel="noopener noreferrer">
          <img src="../../assets/chat.jpg" alt="People chatting on laptops" class="img-fluid rounded-end">
        </a>
      </div>
    </div>
  </div>
  